.hero {
    position: relative;
    background-image: url('../img/poster.jpg');
    background-image: image-set(
        url('../img/poster2x.webp') 2x,
        url('../img/poster.webp') 1x,
        url('../img/poster2x.jpg') 2x,
        url('../img/poster.jpg') 1x
    );
    background-size: cover;
    background-position: center;

    @include md {
        background-image: url('../img/poster-tablet.jpg');
        background-image: image-set(
            url('../img/poster-tablet.webp') 1x,
            url('../img/poster-tablet.jpg') 1x
        );
    }

    @include lg {
        background-image: url('../img/poster-laptop.jpg');
        background-image: image-set(
            url('../img/poster-laptop.webp') 1x,
            url('../img/poster-laptop.jpg') 1x
        );
    }

    @include xl {
        background-image: url('../img/poster-desktop.jpg');
        background-image: image-set(
            url('../img/poster-desktop.webp') 1x,
            url('../img/poster-desktop.jpg') 1x
        );
    }

	&__container {
        position: relative;
        z-index: 10;
        min-height: 554px;
        padding-top: 120px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include xl {
            min-height: 780px;
        }
        @include xxl {
            min-height: 100vh;
        }
	}

	&__title {
        font-weight: 1000;
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase;
        color: $back;
        margin-bottom: 24px;
	}

	&__subtitle {
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        color: $second;
	}

    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35.38%, #000000 100%);
    }

    &__video-bg {
        z-index: 8;
    }
}

